@using DUNES.Shared.DTOs.Inventory
@using DUNES.UI.WiewModels
@model PickProcessRequestDto
@{
    ViewData["Title"] = "Receiving";
}



<div class="modal fade" id="modalBinsDistribution" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="brand-subtitle" id="miModalLabel">WMS Warehouse Distribution</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3" style="display:display">
                        <div class="form-group">
                            <label class="control-label">Part Number</label>
                            <input id="partnoid" readonly="readonly" class="form-control" />

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Line</label>
                            <input id="lineid" readonly="readonly" class="form-control" />

                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="control-label">Qty</label>
                            <input type="number" readonly="readonly" style="text-align:right" id="qtyreceive" class="form-control" />

                        </div>
                    </div>


                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">WMS Reserve Inv Type</label>
                            <select id="typereserveid" class="form-control">
                            </select>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">WMS Reserve Bin</label>
                            <select id="binselid" class="form-control">
                            </select>

                        </div>
                    </div>
                </div>



                <div class="row mt-2">
                    <div class="col-md-12">
                        <h4 class="brand-subtitle">Part Number Qty in WMS Bins</h4>
                        <table id="tableuserbinitems" class="table table-bordered no-wrap table-striped table-hover table-sm align-middle w-100" style="width:100%;font-size:small">

                            <thead>
                                <tr>
                                    <th>
                                        Bin Id
                                    </th>
                                    <th>
                                        Bin Name
                                    </th>
                                    <th>
                                        Rack Id
                                    </th>
                                    <th>
                                        Rack Name
                                    </th>
                                    <th>
                                        Inventory Type
                                    </th>
                                    <th>
                                        Inventory Name
                                    </th>
                                    <th>
                                        Status Id
                                    </th>

                                    <th>
                                        Status Name
                                    </th>

                                    <th style="text-align:right">
                                        Qty
                                    </th>
                                    <th style="text-align:right">
                                        Qty Pick Process
                                    </th>
                                </tr>
                            </thead>

                        </table>
                    </div>

                </div>

            </div>

            <div class="modal-footer">

                <input type="button" onclick="addqtybinPickProcess()" class="btn btn-outline-primary" value="Save" />

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                @* <button type="button" class="btn btn-primary">Guardar</button> *@
            </div>

        </div>
    </div>
</div>

<div class="row mt-4">
    <form id="pick-form" method="get" autocomplete="off" class="mb-3">
        <div class="row g-3 align-items-end">
            <div class="col-12 col-md-6">
                <label for="pickprocessnumber" class="form-label">Pick Process Number</label>
                <input type="text"
                       id="pickprocessnumber"
                       name="pickprocessnumber"
                       class="form-control"
                       placeholder="Scan or type your Pick Process..."
                       required
                       autofocus />
            </div>

            <div class="col-12 col-md-auto d-grid">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>



    <form id="af" style="display:none">
        @Html.AntiForgeryToken()
    </form>

</div>

<div class="card shadow-sm mb-2">
    <div class="card-header bg-white d-flex justify-content-between align-items-center">
        <h6 class="mb-0 subtitleDunes ms2">Pick Process Header &nbsp; @Model.PickProcessHdr.DeliveryId </h6>
        <a href="#" class="text-decoration-none" onclick="hideheader()">
            <i id="ocultarHdr" class="fa-solid fa-eye"></i>
        </a>
    </div>





    <div class="row gx-3 gy-2 px-3 mt-2 mb-2" id="header1">

        <div class="col-12 col-md-2">
            <label asp-for="PickProcessHdr.Id" class="form-label"></label>
            <input asp-for="PickProcessHdr.Id" readonly class="form-control" />
        </div>

        <div class="col-12 col-md-2">
            <label asp-for="PickProcessHdr.DeliveryId" class="form-label"></label>
            <input asp-for="PickProcessHdr.DeliveryId" readonly class="form-control" />
        </div>

        <div class="col-12 col-md-2">
            <label asp-for="PickProcessHdr.ConsignRequestID" class="form-label"></label>
            <input asp-for="PickProcessHdr.ConsignRequestID" readonly class="form-control" />
        </div>

        <div class="col-12 col-md-3">
            <label asp-for="PickProcessHdr.Batchid" class="form-label"></label>
            <input asp-for="PickProcessHdr.Batchid" readonly class="form-control" />
        </div>

        <div class="col-12 col-md-3">
            <label asp-for="PickProcessHdr.DateCreated" class="form-label"></label>
            <input type="datetime-local" asp-for="PickProcessHdr.DateCreated" readonly class="form-control" />
        </div>
    </div>
    <div class="row gx-3 gy-2 px-3 mb-3" id="header2">
        <div class="col-12 col-md-4">
            <label asp-for="PickProcessHdr.Address1" class="form-label"></label>
            <input asp-for="PickProcessHdr.Address1" readonly class="form-control" />
        </div>


        <div class="col-12 col-md-4">
            <label asp-for="PickProcessHdr.Address2" class="form-label"></label>
            <input asp-for="PickProcessHdr.Address2" readonly class="form-control" />
        </div>

        <div class="col-12 col-md-3">
            <label asp-for="PickProcessHdr.City" class="form-label"></label>
            <input asp-for="PickProcessHdr.City" readonly class="form-control" />
        </div>

        <div class="col-12 col-md-1">
            <label asp-for="PickProcessHdr.State" class="form-label"></label>
            <input asp-for="PickProcessHdr.State" readonly class="form-control" />
        </div>

    </div>
    <div class="row gx-3 gy-2 px-3 mb-3" id="header3">

        <div class="col-12 col-md-1">
            <label asp-for="PickProcessHdr.ZipCode" class="form-label"></label>
            <input asp-for="PickProcessHdr.ZipCode" readonly class="form-control" />
        </div>

        <div class="col-12 col-md-1">
            <label asp-for="PickProcessHdr.Country" class="form-label"></label>
            <input asp-for="PickProcessHdr.Country" readonly class="form-control" />
        </div>

        <div class="col-12 col-md-2">
            <label asp-for="PickProcessHdr.Carrier" class="form-label"></label>
            <input asp-for="PickProcessHdr.Carrier" readonly class="form-control" />
        </div>


        <div class="col-12 col-md-3">
            <label asp-for="PickProcessHdr.ShipMethod" class="form-label"></label>
            <input asp-for="PickProcessHdr.ShipMethod" readonly class="form-control" />
        </div>




    </div>
</div>

<div class="card shadow-sm mb-2">


    <div class="card-header bg-white d-flex justify-content-between align-items-center">
        <h6 class="mb-0 subtitleDunes ms2">Information to process in WMS </h6>
        <a href="#" class="text-decoration-none" onclick="hidedetail()">
            <i id="ocultarDetail" class="fa-solid fa-eye"></i>
        </a>
    </div>


    <div class="row gx-3 gy-2 px-3 mb-3" id="detail1">

        <div class="col-12 col-md-3">
            <label class="form-label">Location</label>
            <select id="locationid" class="form-control" asp-items="@ViewBag.locations">
                <option disabled selected>Select Location</option>
            </select>
        </div>


        <div class="col-12 col-md-3">
            <label class="form-label">Company Client</label>
            <select id="companyclient" disabled class="form-control">
                
            </select>
        </div>
        <div class="col-12 col-md-3">
            <label class="form-label">Division</label>
            <select id="divisionid" disabled class="form-control">
               
            </select>
        </div>
        <div class="col-12 col-md-3">
            <label class="form-label">LPN</label>
            <input ID="lpnid" disabled class="form-control" />
        </div>

    

    </div>
    <div class="row gx-3 gy-2 px-3 mb-3" id="detail2">

        <div class="col-12 col-md-3">
            <label class="form-label">Concept</label>
            <select id="conceptid" disabled class="form-control">
            </select>
        </div>


        <div class="col-12 col-md-3">
            <label class="form-label">Transaction Type</label>
            <select id="transactionid" disabled class="form-control">
            </select>
        </div>
        <div class="col-12 col-md-6">
            <label class="form-label">Observations (500)</label>
            <input ID="observations" maxlength="500" class="form-control" />

        </div>
      
    </div>
    
</div>


<div class="card shadow-sm">
    <div class="card-header bg-white">
        <h6 class="mb-0 subtitleDunes">Part Number Detail</h6>
    </div>

    <div class="card-body">
        <div class="row">
            <table id="tableuser" class="table table-bordered table-striped table-hover table-sm align-middle w-100" style="white-space: nowrap; font-size:medium">
                <thead class="table-light">
                    <tr>
                        <th>Actions</th>
                        <th>Id</th>
                        <th>Pick Process Head Id</th>
                        <th>Line Id</th>
                        <th>Part Number</th>
                        <th class="text-end">Request Quantity</th>
                        <th class="text-end">Quantity Process</th>
                        <th>3PL Locator</th>
                        <th>Pick LPN</th>
                        <th>Qty on Hand</th>
                        <th>Part Number Description</th>
                        <th>DateTime Inserted</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model?.ListItems != null)
                    {


                        foreach (var item in Model.ListItems)
                        {
                            <tr>
                                <td>

                                    <a href="#" onclick="openmodal(@item.LindId,'@item.ItemNumber',@item.RequestQuantity,'@item.Frm3plLocatorStatus')"><i class="fa-solid fa-boxes-stacked"></i></a> | <a href="#" onclick="deleteAllBinsDistribution(@item.LindId)"><i class="fa-solid fa-eraser"></i></a>



                                </td>
                                <td>@item.Id</td>
                                <td>@item.idPickProcessHdr</td>
                                <td>@item.LindId</td>
                                <td>@item.ItemNumber</td>
                                <td>@item.RequestQuantity</td>
                                <td style="color:red">@item.QuantityProcess</td>
                                <td>@item.Frm3plLocatorStatus</td>
                                <td>@item.PickLPN</td>
                                <td>@item.QtyOnHand</td>
                                <td>@item.ItemDescription</td>
                                <td>@item.DateTimeInserted.ToString("yyyy-MM-dd HH:mm")</td>
                            </tr>

                        }
                    }
                </tbody>
            </table>


        </div>
        <div class="row justify-content-end">
            <div class="col-3 col-md-auto d-grid">
                <button type="button" onclick="processPick()" class="btn btn-primary">Process</button>
            </div>
        </div>
    </div>
</div>


<div class="card shadow-sm mt-2">

    <div class="card-header bg-white d-flex justify-content-between align-items-center">
        <h6 class="mb-0 subtitleDunes ms2">Pick Process Calls Information</h6>
        <a href="#" class="text-decoration-none" onclick="hidecalls()">
            <i id="ocultarCalls" class="fa-solid fa-eye"></i>
        </a>
    </div>

    <div class="card-body" id="divbody1">
        <div class="row">
            <table id="tableuserinputcalls" class="table table-bordered table-striped table-hover table-sm align-middle w-100" style="white-space: nowrap; font-size:medium">
                <caption style="caption-side: top; text-align: left; font-weight: bold;">
                    ZEBRA TO PEAKTECH CALLS
                </caption>
                <thead class="table-light">
                    <tr>
                        <th>Actions</th>
                        <th>Id</th>
                        <th>TransactionCode</th>
                        <th>DateTimeInserted</th>
                        <th>Error</th>
                        <th>Processed</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model?.CallsRead.inputCallsList != null)
                    {


                        foreach (var item in Model.CallsRead.inputCallsList)
                        {
                            <tr>
                                <td>
                                </td>
                                <td>@item.Id</td>
                                <td>@item.TransactionCode</td>
                                <td>@item.DateTimeInserted.ToString("yyyy-MM-dd HH:mm")</td>
                                <td>@item.Error</td>
                                <td>@item.Processed</td>

                            </tr>

                        }
                    }
                </tbody>
            </table>


        </div>
    </div>


    <div class="card-body" id="divbody2">
        <div class="row">
            <table id="tableuseroutputcalls" class="table table-bordered table-striped table-hover table-sm align-middle w-100" style="white-space: nowrap; font-size:medium">
                <caption style="caption-side: top; text-align: left; font-weight: bold;">
                    PEAKTECH CALLS TO ZEBRA
                </caption>
                <thead class="table-light">
                    <tr>
                        <th>Actions</th>
                        <th>Id</th>
                        <th>TypeOfCallId</th>
                        <th>TypeOfCallDescription</th>
                        <th>DateTimeInserted</th>
                        <th>AckReceived</th>
                        <th>Result</th>
                        <th>DateTimeSent</th>
                        <th>InProcess</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model?.CallsRead.outputCallsList != null)
                    {


                        foreach (var item in Model.CallsRead.outputCallsList)
                        {
                            <tr>
                                <td>
                                </td>
                                <td>@item.Id</td>
                                <td>@item.TypeOfCallId</td>
                                <td>@item.TypeOfCallDescription</td>
                                <td>@item.DateTimeInserted.ToString("yyyy-MM-dd HH:mm")</td>
                                <td>@item.AckReceived</td>
                                <td>@item.Result</td>
                                <td>@Convert.ToDateTime(@item.DateTimeSent).ToString("yyyy-MM-dd HH:mm")</td>
                                <td>@item.InProcess</td>


                            </tr>

                        }
                    }

                </tbody>
            </table>


        </div>
    </div>

</div>


<div class="card shadow-sm mt-2">

    <div class="card-header bg-white d-flex justify-content-between align-items-center">
        <h6 class="mb-0 subtitleDunes ms2">WMS Inventory Transactions</h6>
        <a href="#" class="text-decoration-none" onclick="hidewms()">
            <i id="ocultarWMS" class="fa-solid fa-eye"></i>
        </a>
    </div>

    <div class="card-body" id="divwms1">
        <div class="row mt-4">
            <h6>Transaction Header</h6>
            <table id="tableuserwmshdr" class="table table-bordered table-striped table-hover table-sm align-middle w-100" style="white-space: nowrap; font-size:medium">

                <thead class="table-light">
                    <tr>
                        <th>Actions</th>
                        <th>Id</th>
                        <th>Company Id</th>
                        <th>Company Name</th>
                        <th>Concept Id</th>
                        <th>Concept Name</th>
                        <th>User</th>
                        <th>Date Created</th>
                        <th>Is Processed</th>
                        <th>User Processed</th>
                        <th>Company Client</th>
                        <th>Date Processed</th>
                        <th>Document Reference</th>
                        <th>Observations</th>
                        <th>Division ID</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListTransactions != null)
                    {

                        @if (Model.ListTransactions.ListHdr.Count > 0)
                        {
                            foreach (var item in Model.ListTransactions.ListHdr)
                            {
                                <tr>
                                    <td>
                                    </td>
                                    <td>@item.Id</td>
                                    <td>@item.Idcompany</td>
                                    <td>@item.CompanyName</td>
                                    <td>@item.Idtransactionconcept</td>
                                    <td>@item.conceptName</td>
                                    <td>@item.IdUser</td>
                                    <td>@item.Datecreated</td>
                                    <td>@item.Processed</td>
                                    <td>@item.IdUserprocess</td>
                                    <td>@item.Idcompanyclient</td>
                                    <td>@item.Dateprocessed</td>
                                    <td>@item.Documentreference</td>
                                    <td>@item.Observations</td>
                                    <td>@item.Iddivision</td>
                                </tr>
                            }
                        }
                    }

                </tbody>
            </table>


        </div>



        <div class="row mt-4">
            <h6>Transaction Detail</h6>
            <table id="tableuserwmsdetail" class="table table-bordered table-striped table-hover table-sm align-middle w-100" style="white-space: nowrap; font-size:medium">

                <thead class="table-light">
                    <tr>
                        <th>Actions</th>
                        <th>Id</th>
                        <th>Transaction Type Id</th>
                        <th>Transaction Name</th>
                        <th>Location Id</th>
                        <th>Location Name</th>
                        <th>Inventory Type ID</th>
                        <th>Inventory Type Name</th>
                        <th>Rack Id</th>
                        <th>Rack Name</th>
                        <th>Level</th>
                        <th>Part Number</th>
                        <th>Total Qty</th>
                        <th>Bin Id</th>
                        <th>Bin Name</th>
                        <th>Status Id</th>
                        <th>Status Name</th>
                        <th>Serial ID</th>
                        <th>Company Id</th>
                        <th>Company Name</th>
                        <th>Company Client</th>
                        <th>Division</th>
                        <th>Header Transaction ID</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListTransactions != null)
                    {

                        @if (Model.ListTransactions.ListDetail.Count > 0)
                        {
                            foreach (var item in Model.ListTransactions.ListDetail)
                            {
                                <tr>
                                    <td>
                                    </td>
                                    <td>@item.Id</td>
                                    <td>@item.Idtypetransaction</td>
                                    <td>@item.typetransactionName</td>
                                    <td>@item.Idlocation</td>
                                    <td>@item.locationName</td>
                                    <td>@item.Idtype</td>
                                    <td>@item.typeName</td>
                                    <td>@item.Idrack</td>
                                    <td>@item.rackName</td>
                                    <td>@item.Level</td>
                                    <td>@item.Iditem</td>
                                    <td>@item.TotalQty</td>
                                    <td>@item.Idbin</td>
                                    <td>@item.binName</td>
                                    <td>@item.Idstatus</td>
                                    <td>@item.statusName</td>
                                    <td>@item.Serialid</td>
                                    <td>@item.Idcompany</td>
                                    <td>@item.companyName</td>
                                    <td>@item.Idcompanyclient</td>
                                    <td>@item.Iddivision</td>
                                </tr>
                            }
                        }
                    }

                </tbody>
            </table>


        </div>



        <div class="row mt-4">
            <h6>Inventory Movement Detail</h6>
            <table id="tableuserwmsinv" class="table table-bordered table-striped table-hover table-sm align-middle w-100" style="white-space: nowrap; font-size:medium">

                <thead class="table-light">
                    <tr>
                        <th>Actions</th>
                        <th>Transaction Type ID</th>
                        <th>Transaction Type Name</th>
                        <th>Location ID</th>
                        <th>Location Name</th>
                        <th>Inventory Type ID</th>
                        <th>Inventory Type Name</th>
                        <th>Rack ID</th>
                        <th>Level</th>
                        <th>Bin ID</th>
                        <th>Bin Name</th>
                        <th>Part Number</th>
                        <th>Status Id</th>
                        <th>Status Name</th>
                        <th>Serial ID</th>
                        <th>Date Created</th>
                        <th>Qty Input</th>
                        <th>Qty Output</th>
                        <th>Qty Balance</th>
                        <th>Company Id</th>
                        <th>Company Name</th>
                        <th>Company Client</th>
                        <th>Id Transaction Head</th>
                        <th>Id Transaction Detail</th>
                        <th>Division</th>
                        <th>Created By</th>
                        <th>Transaction Concept ID</th>
                        <th>Concept Name</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListTransactions != null)
                    {

                        @if (Model.ListTransactions.ListInventoryMovement.Count > 0)
                        {
                            foreach (var item in Model.ListTransactions.ListInventoryMovement)
                            {
                                <tr>
                                    <td>
                                    </td>
                                    <td>@item.Id</td>
                                    <td>@item.Idtransactiontype</td>
                                    <td>@item.transactionTypeName</td>
                                    <td>@item.Idlocation</td>
                                    <td>@item.locationName</td>
                                    <td>@item.Idtype</td>
                                    <td>@item.inventoryTypeName</td>
                                    <td>@item.Idrack</td>
                                    <td>@item.Level</td>
                                    <td>@item.Idbin</td>
                                    <td>@item.binName</td>
                                    <td>@item.Iditem</td>
                                    <td>@item.Idstatus</td>
                                    <td>@item.statusName</td>
                                    <td>@item.Serialid</td>
                                    <td>@item.Datecreated</td>
                                    <td>@item.Qtyinput</td>
                                    <td>@item.Qtyoutput</td>
                                    <td>@item.Qtybalance</td>
                                    <td>@item.Idcompany</td>
                                    <td>@item.companyName</td>
                                    <td>@item.Idcompanyclient</td>
                                    <td>@item.IdtransactionHead</td>
                                    <td>@item.IdtransactionDetail</td>
                                    <td>@item.Iddivision</td>
                                    <td>@item.Createdby</td>
                                    <td>@item.Idtransactionconcept</td>
                                    <td>@item.conceptName</td>
                                </tr>
                            }
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="card shadow-sm mt-2">

    <div class="card-header bg-white d-flex justify-content-between align-items-center">
        <h6 class="mb-0 subtitleDunes ms2">ServTrack Order Repair</h6>
        <a href="#" class="text-decoration-none" onclick="hideservtrack()">
            <i id="ocultarServtrack" class="fa-solid fa-eye"></i>
        </a>
    </div>

    <div class="card-body" id="divservtrack1">

        <div class="row">

            <div class="col-12 col-md-2">
                <label asp-for="OrderRepair.repairHdr.RefNo" class="form-label"></label>
                <input asp-for="OrderRepair.repairHdr.RefNo" readonly class="form-control" />
            </div>

            <div class="col-12 col-md-2">
                <label asp-for="OrderRepair.repairHdr.TcustNo" class="form-label"></label>
                <input asp-for="OrderRepair.repairHdr.TcustNo" readonly class="form-control" />
            </div>

            <div class="col-12 col-md-2">
                <label asp-for="OrderRepair.repairHdr.CustRef" class="form-label"></label>
                <input asp-for="OrderRepair.repairHdr.CustRef" readonly class="form-control" />
            </div>

            <div class="col-12 col-md-4">
                <label asp-for="OrderRepair.repairHdr.CustName" class="form-label"></label>
                <input asp-for="OrderRepair.repairHdr.CustName" readonly class="form-control" />
            </div>

            <div class="col-12 col-md-2">
                <label asp-for="OrderRepair.repairHdr.TstatusId" class="form-label"></label>
                <input asp-for="OrderRepair.repairHdr.TstatusId" readonly class="form-control" />
            </div>

        </div>

        <div class="row">

            <div class="col-12 col-md-6">
                <label asp-for="OrderRepair.repairHdr.ShipToAddr" class="form-label"></label>
                <input asp-for="OrderRepair.repairHdr.ShipToAddr" readonly class="form-control" />
            </div>

            <div class="col-12 col-md-6">
                <label asp-for="OrderRepair.repairHdr.ShipToAddr1" class="form-label"></label>
                <input asp-for="OrderRepair.repairHdr.ShipToAddr1" readonly class="form-control" />
            </div>

        </div>

        <div class="row">

            <div class="col-12 col-md-2">
                <label asp-for="OrderRepair.repairHdr.TcityId" class="form-label"></label>
                <input asp-for="OrderRepair.repairHdr.TcityId" readonly class="form-control" />
            </div>
            <div class="col-12 col-md-2">
                <label asp-for="OrderRepair.repairHdr.TstateId" class="form-label"></label>
                <input asp-for="OrderRepair.repairHdr.TstateId" readonly class="form-control" />
            </div>
            <div class="col-12 col-md-2">
                <label asp-for="OrderRepair.repairHdr.ZipCode" class="form-label"></label>
                <input asp-for="OrderRepair.repairHdr.ZipCode" readonly class="form-control" />
            </div>



            <div class="col-12 col-md-3">
                <label asp-for="OrderRepair.repairHdr.DateInserted" class="form-label"></label>
                <input asp-for="OrderRepair.repairHdr.DateInserted" readonly class="form-control" />
            </div>

            <div class="col-12 col-md-3">
                <label asp-for="OrderRepair.repairHdr.DateCreated" class="form-label"></label>
                <input asp-for="OrderRepair.repairHdr.DateCreated" readonly class="form-control" />
            </div>

        </div>

        <div class="row mt-4">
            <h6>Items Detail</h6>
            <table id="tableuseritemsservtrack" class="table table-bordered table-striped table-hover table-sm align-middle w-100" style="white-space: nowrap; font-size:medium">

                <thead class="table-light">
                    <tr>
                        <th>Actions</th>
                        <th>Reference No</th>
                        <th>Part Number</th>
                        <th>Quantity</th>
                        <th>Company Part Number</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.OrderRepair != null)
                    {

                        @if (Model.OrderRepair.ListItems.Count > 0)
                        {
                            foreach (var item in Model.OrderRepair.ListItems)
                            {
                                <tr>
                                    <td>
                                    </td>
                                    <td>@item.RefNo</td>
                                    <td>@item.PartNo</td>
                                    <td>@item.Qty</td>
                                    <td>@item.CompanyPartNo</td>
                                </tr>
                            }
                        }
                    }

                </tbody>
            </table>


        </div>

        <div class="row mt-4">
            <h6>Receiving Detail</h6>
            <table id="tableuserreceivingservtrack" class="table table-bordered table-striped table-hover table-sm align-middle w-100" style="white-space: nowrap; font-size:medium">

                <thead class="table-light">
                    <tr>
                        <th>Actions</th>
                        <th>Reference No</th>
                        <th>Part Number</th>
                        <th>Date Received</th>
                        <th>Serial Inbound</th>
                        <th>Serial Received</th>
                        <th>Status ID</th>
                        <th>Repair Number</th>
                        <th>Qty</th>
                        <th>Qty Received</th>
                        <th>Id</th>
                        <th>Project Name</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.OrderRepair != null)
                    {

                        @if (Model.OrderRepair.ListItemsSerialsReceiving.Count > 0)
                        {
                            foreach (var item in Model.OrderRepair.ListItemsSerialsReceiving)
                            {
                                <tr>
                                    <td>
                                    </td>
                                    <td>@item.RefNo</td>
                                    <td>@item.PartNo</td>
                                    <td>@item.DateReceived</td>
                                    <td>@item.SerialInbound</td>
                                    <td>@item.SerialReceived</td>
                                    <td>@item.TstatusId</td>
                                    <td>@item.RepairNo</td>
                                    <td>@item.Qty</td>
                                    <td>@item.QtyReceived</td>
                                    <td>@item.Id</td>
                                    <td>@item.ProjectName</td>

                                </tr>
                            }
                        }
                    }

                </tbody>
            </table>


        </div>


        <div class="row mt-4">
            <h6>Shipping Detail</h6>
            <table id="tableusershippingservtrack" class="table table-bordered table-striped table-hover table-sm align-middle w-100" style="white-space: nowrap; font-size:medium">

                <thead class="table-light">
                    <tr>
                        <th>Actions</th>
                        <th>Reference No</th>
                        <th>Part Number</th>
                        <th>Date Ship</th>
                        <th>Serial Ship</th>
                        <th>Status Id</th>
                        <th>Repair No</th>
                        <th>Qty</th>
                        <th>Qty Ship</th>
                        <th>Ship Via Id</th>
                        <th>Id</th>
                        <th>TrackingNumber</th>
                        <th>Shipping Group Id</th>
                        <th>DateTime Ship</th>
                        <th>UserName</th>
                        <th>Date TrackingNumber</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.OrderRepair != null)
                    {

                        @if (Model.OrderRepair.ListItemsSerialsShipping.Count > 0)
                        {
                            foreach (var item in Model.OrderRepair.ListItemsSerialsShipping)
                            {
                                <tr>
                                    <td></td>
                                    <td>@item.RefNo</td>
                                    <td>@item.PartNo</td>
                                    <td>@item.DateShip</td>
                                    <td>@item.SerialShip</td>
                                    <td>@item.TstatusId</td>
                                    <td>@item.RepairNo</td>
                                    <td>@item.Qty</td>
                                    <td>@item.QtyShip</td>
                                    <td>@item.ShipViaId</td>
                                    <td>@item.Id</td>
                                    <td>@item.TrackingNumber</td>
                                    <td>@item.ShippingGroupId</td>
                                    <td>@item.DateTimeShip</td>
                                    <td>@item.UserName</td>
                                    <td>@item.DateTrackingNumber</td>

                                </tr>
                            }
                        }
                    }

                </tbody>
            </table>


        </div>
    </div>

</div>




<form id="af" style="display:none">
    @Html.AntiForgeryToken()
</form>


@section Scripts {




    <script>


          $(document).ready(function(){



                $('#tableuserwmshdr').DataTable({
                   processing: true,
                   deferRender: true,
                   stateSave: true,
                   autoWidth: false,
                   responsive: true,
                   pageLength: 10,
                   scrollX:true,
                   "bPaginate": false,
                   "bLengthChange": false,
                   "bFilter": true,
                   "bInfo": false,
                   "bAutoWidth": false,
                   "searching": false
               });

                $('#tableuserwmsdetail').DataTable({
                   processing: true,
                   deferRender: true,
                   stateSave: true,
                   autoWidth: false,
                   responsive: true,
                   pageLength: 10,
                   scrollX:true,
                   "bPaginate": false,
                   "bLengthChange": false,
                   "bFilter": true,
                   "bInfo": false,
                   "bAutoWidth": false,
                   "searching": false
               });


                 $('#tableuserwmsinv').DataTable({
                   processing: true,
                   deferRender: true,
                   stateSave: true,
                   autoWidth: false,
                   responsive: true,
                   pageLength: 10,
                   scrollX:true,
                   "bPaginate": false,
                   "bLengthChange": false,
                   "bFilter": true,
                   "bInfo": false,
                   "bAutoWidth": false,
                   "searching": false
               });

                 $('#tableuseritemsservtrack').DataTable({
                   processing: true,
                   deferRender: true,
                   stateSave: true,
                   autoWidth: false,
                   responsive: true,
                   pageLength: 10,
                   scrollX:true,
                   "bPaginate": false,
                   "bLengthChange": false,
                   "bFilter": true,
                   "bInfo": false,
                   "bAutoWidth": false,
                   "searching": false
               });



                 $('#tableuserreceivingservtrack').DataTable({
                   processing: true,
                   deferRender: true,
                   stateSave: true,
                   autoWidth: false,
                   responsive: true,
                   pageLength: 10,
                   scrollX:true,
                   "bPaginate": false,
                   "bLengthChange": false,
                   "bFilter": true,
                   "bInfo": false,
                   "bAutoWidth": false,
                   "searching": false
               });


                  $('#tableusershippingservtrack').DataTable({
                   processing: true,
                   deferRender: true,
                   stateSave: true,
                   autoWidth: false,
                   responsive: true,
                   pageLength: 10,
                   scrollX:true,
                   "bPaginate": false,
                   "bLengthChange": false,
                   "bFilter": true,
                   "bInfo": false,
                   "bAutoWidth": false,
                   "searching": false
               });


               $('#tableuseroutputcalls').DataTable({
                   processing: true,
                   deferRender: true,
                   stateSave: true,
                   autoWidth: false,
                   responsive: true,
                   pageLength: 10,
                   "bPaginate": false,
                   "bLengthChange": false,
                   "bFilter": true,
                   "bInfo": false,
                   "bAutoWidth": false,
                   "searching": false
               });




                  $('#tableuserinputcalls').DataTable({
                   processing: true,
                   deferRender: true,
                   stateSave: true,
                   autoWidth: false,
                   responsive: true,
                   pageLength: 10,
                   "bPaginate": false,
                   "bLengthChange": false,
                   "bFilter": true,
                   "bInfo": false,
                   "bAutoWidth": false,
                   "searching": false
               });


            $('#tableuserbinitems').DataTable({

                   processing: true,
                    deferRender: true,
                    stateSave: true,
                    autoWidth: false,
                    responsive: true,
                    pageLength: 10,
                    "bPaginate": false,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "searching": false


              });


            $('#tableuser').DataTable
            ({
              processing: true,
              deferRender: true,
              stateSave: true,
              autoWidth: false,
              scrollX: true, // ✅ Habilita scroll horizontal
              responsive: false, // ✅ Evita que se escondan columnas
              pageLength: 10,

              order: [[9, 'desc']],

              columnDefs: [
                { targets: [6], className: 'text-end' },
                { targets: 0, orderable: false, searchable: false, className: 'text-center' }, // Desactiva ordenamiento en Actions
                { targets: '_all', className: 'align-middle' }
              ],

              dom:
                "<'row mb-2'<'col-md-6'l><'col-md-6 text-md-end'f>>" +
                "<'row'<'col-12'tr>>" +
                "<'row mt-2'<'col-md-5'i><'col-md-7'p>>",

              language: {
                search: "",
                searchPlaceholder: "Search...",
                lengthMenu: "_MENU_ entries per page",
                info: "Showing _START_ to _END_ of _TOTAL_ entries",
                infoEmpty: "Showing 0 to 0 of 0 entries",
                infoFiltered: "(filtered from _MAX_ total entries)",
                zeroRecords: "No data available in table",
                paginate: { first: "«", previous: "‹", next: "›", last: "»" }
              }
            });


                 $(function () {
                  const $form = $('#pick-form');
                  $form.on('submit', function (e) {
                    showSpinner();
                  });
            });

          })

          //Abort or cancelation by user
          let currentRequest = null;


        async  function openmodal(lineid, partnumber, qty, typeidst)
          {



              $('#partnoid').val(partnumber);
              $('#lineid').val(lineid);
              $('#qtyreceive').val(qty);


              var lineid = lineid;

              const valsel = $('#companyclient').val();

              if (valsel == 0 || valsel == null)
              {
                   errorAction("Company client is required");
                   return;
              }

              var companyclient = $('#companyclient option:selected').val();

              //we search all inventory cuantity for this companyclient and part number
               showSpinner();

              $.ajax({url:"@Url.Action("checkInventoryByPartNumberInvType", "PickProcess")",data:{companyclient:companyclient, partnumber:partnumber, lineid: lineid, typeidst:typeidst},type:"post"})
              .done(function(data){

                    var $typeNoHand = $('#typereserveid');

                    $typeNoHand.empty()
                        .append($('<option>', { value: '', text: '-- Select Type --', disabled:true, selected:true }))
                        .prop('disabled', true);

                      if (data.status == null || data.status == "OK")
                      {

                          if (data.listinvnohand != null)
                          {

                                var list = (data && data.listinvnohand) ? data.listinvnohand : [];
                                if (Array.isArray(list) && list.length)
                                {
                                    $.each(list, function (_, it) {

                                    var id = (it.id !== undefined) ? it.id : it.id;
                                    var name = (it.name !== undefined) ? it.name : it.name;
                                    $typeNoHand.append($('<option>', { value: id, text: name }));
                                    });
                                    $typeNoHand.prop('disabled', false);
                                }

                          }

                          if (data.listinventory != null)
                          {

                              JsonArrayInventory = [];

                              for (var i = 0; i < data.listinventory.length; i++)
                              {

                                  var f = data.listinventory[i];

                                  JsonArrayInventory.push({
                                          binid: f.binid,
                                          binname: f.binname,
                                          rackid : f.rackid,
                                          rackname : f.rackname,
                                          inventorytypeid : f.inventorytypeid,
                                          typename: f.inventoryname,
                                          statusid: f.statusid,
                                          statusname :f.statusname,
                                          qty: f.qty,
                                          qtypick : `<input type="number"
                                             class="form-control form-control-sm qty-input"
                                             value="${f.qtyreserved}"
                                             min="0" step="1"
                                             data-binid="${f.binid}" data-rackid="${f.rackid}" data-invtype = "${f.inventorytypeid}" data-statusname="${f.statusid}">`
                                  });
                               }

                               $('#tableuserbinitems').DataTable({
                                   data: JsonArrayInventory,
                                   destroy: true,
                                   processing: true,
                                    deferRender: true,
                                    stateSave: true,
                                    autoWidth: false,
                                    responsive: true,
                                    pageLength: 10,
                                    "bPaginate": false,
                                    "bLengthChange": false,
                                    "bFilter": true,
                                    "bInfo": false,
                                    "bAutoWidth": false,
                                    "searching": false,
                                   columns: [
                                       { "data": "binid" },
                                       { "data": "binname" },
                                       { "data": "rackid" },
                                       { "data": "rackname" },
                                       { "data": "inventorytypeid" },
                                       { "data": "typename" },
                                       { "data": "statusid"},
                                       { "data": "statusname" },
                                       { "data": "qty", "class":"derecha" },
                                       { "data": "qtypick", "class":"derecha" },
                                   ]
                               });
                          }
                          else
                          {

                              showToast("info", "There is not inventory available for this type  : " + typeid);

                          }

                          if (data.listbines != null) {

                               var JsonArrayBines = [];

                               for (var i = 0; i < data.listbines.length; i++) {

                                   var f = data.listbines[i];

                                   JsonArrayBines.push({
                                       actions: '<a href="#"onclick="deleteBinDetail(' + f.id + ')"><i id="btt - ' + f.id + '" class="fa-solid fa-eraser fa-lg"></i></a>',
                                       id: f.id,
                                       partno: f.partnumber,
                                       qty: f.qty,
                                       type: f.inventorytype,
                                       typename: f.typename,
                                       binid : f.binid,
                                       binname: f.tagname,
                                       statusid : f.statusid,
                                       statusname :f.statusname
                                   });
                               }

                               showbinDistribution(JsonArrayBines);
                           }

                               const modal = new bootstrap.Modal(document.getElementById('modalBinsDistribution'));
                            modal.show();

                      }
                      else
                      {
                          if (data.continueprocess)
                          {
                              //if continueprocess is true, the processing can to continue
                                showToast("info",data.status);

                                const modal = new bootstrap.Modal(document.getElementById('modalBinsDistribution'));
                                modal.show();
                          }
                          else
                          {
                           errorAction(data.status);
                          }

                      }


              })
              .fail(function(){})
              .always(function(){
               hideSpinner();
              });




          }

          function closemodal()
          {

                     const el = document.getElementById('modalBinsDistribution');
        const inst = bootstrap.Modal.getInstance(el) || bootstrap.Modal.getOrCreateInstance(el);
        inst.hide();

          }

          function clearComboBox()
          {
            
            var $bin = $('#binselid');
            var $concepts = $('#conceptid');
            var $transactions = $('#transactionid');
            var $division = $('#divisionid');

            $bin.empty()
            .append($('<option>', { value: '', text: '-- Select bin --', disabled:true, selected:true }))
            .prop('disabled', true);

            // reset select concepts
            $concepts.empty()
            .append($('<option>', { value: '', text: '-- Select Concept --', disabled:true, selected:true }))
            .prop('disabled', true);

            // reset select transactions
            $transactions.empty()
            .append($('<option>', { value: '', text: '-- Select Transaction --', disabled:true, selected:true }))
            .prop('disabled', true);

            $division.empty()
            .append($('<option>', { value: '', text: '-- Select Division --', disabled:true, selected:true }))
            .prop('disabled', true);

          }

        $('#locationid').change(async function(){

            if (currentRequest) {
                currentRequest.abort();
            }

            var $companyClient = $('#companyclient');

            var locationid = $(this).val();
          
            clearComboBox();

             $companyClient.empty()
            .append($('<option>', { value: '', text: '-- Select Company --', disabled:true, selected:true }))
            .prop('disabled', true);


             if (!locationid) return;


              // antiforgery token (busca el input generado por @Html.AntiForgeryToken())
            var token = $('input[name="__RequestVerificationToken"]').val();

            showSpinner();

            currentRequest = $.ajax({url: '@Url.Action("getAllCompanyActiveByLocation", "PickProcess")',type: 'POST',
                    data: { __RequestVerificationToken: token,  locationid: locationid }})
            .done(function (res)
            {
                
                if (res.message == "OK")
                {
                    
                    var list = (res && res.data) ? res.data : [];

                  

                    if (Array.isArray(list) && list.length)
                    {
                        $.each(list, function (_, it) {
                        var id = (it.idcompanyclient !== undefined) ? it.idcompanyclient : it.idcompanyclient;
                        var name = (it.idcompanyclient !== undefined) ? it.idcompanyclient : it.idcompanyclient;

                        $companyClient.append($('<option>', { value: id, text: name }));
                        });
                        $companyClient.prop('disabled', false);
                    }
                }
                else
                {
                      $('#locationid option').prop('selected', function () {
                                return this.defaultSelected;
                      });

                    errorAction(res.message);
                }
             


            })
            .fail(function (xhr, status) {
                 if (status !== "abort") {
                    errorAction("Error:", status);
                }
            }).always(function(){

                hideSpinner();
            });
        
        })
          
          
        $('#companyclient').change(function()
        {


            var companyClient = $(this).val();
            var $bin = $('#binselid');
            var $concepts = $('#conceptid');
            var $transactions = $('#transactionid');
            var $division = $('#divisionid');

             clearComboBox();

                // antiforgery token (busca el input generado por @Html.AntiForgeryToken())
            var token = $('input[name="__RequestVerificationToken"]').val();

            if (!companyClient) return;

               $.ajax({url: '@Url.Action("getAllAditionalInformation", "PickProcess")',type: 'POST',
                    data: { __RequestVerificationToken: token,  companyClient: companyClient }})
            .done(function (res)
            {
                var list = (res && res.data.listbines) ? res.data.listbines : [];
                if (Array.isArray(list) && list.length)
                {
                    $.each(list, function (_, it) {
                    var id = (it.id !== undefined) ? it.id : it.Id;
                    var name = (it.tagName !== undefined) ? it.tagName : it.tagName;
                    $bin.append($('<option>', { value: id, text: name }));
                    });
                    $bin.prop('disabled', false);
                }

                var listc = (res && res.data.listconcepts) ? res.data.listconcepts : [];
                if (Array.isArray(listc) && listc.length)
                {
                    $.each(listc, function (_, it) {
                    var id = (it.id !== undefined) ? it.id : it.Id;
                    var name = (it.Name !== undefined) ? it.name : it.name;
                    $concepts.append($('<option>', { value: id, text: name }));
                    });
                    $concepts.prop('disabled', false);
                }


                  var listt = (res && res.data.listinputtransactions) ? res.data.listinputtransactions : [];
                if (Array.isArray(listt) && listt.length)
                {
                    $.each(listt, function (_, it) {
                    var id = (it.id !== undefined) ? it.id : it.Id;
                    var name = (it.Name !== undefined) ? it.name : it.name;
                    $transactions.append($('<option>', { value: id, text: name }));
                    });
                    $transactions.prop('disabled', false);
                }

                var lisdiv = (res && res.data.listtdivisioncompany) ? res.data.listtdivisioncompany : [];

                if (Array.isArray(lisdiv) && lisdiv.length)
                {
                    $.each(lisdiv, function (_, it) {

                    var id = (it.divisionDsc !== undefined) ? it.divisionDsc : it.divisionDsc;
                    var name = (it.divisionDsc !== undefined) ? it.divisionDsc : it.divisionDsc;
                    $division.append($('<option>', { value: id, text: name }));
                    });
                    $division.prop('disabled', false);
                }

                $('#lpnid').prop('disabled', false);

            })
            .fail(function (xhr) {
                console.error('getClientBins FAIL:', xhr.status, xhr.responseText);
                alert('Could not load bins.');
            }).always(function(){

                hideSpinner();
            });
          
        })


        function buildDropdown(item) {


            var qtypendind = item.qtyshipped - item.qtypending;


            return `
            <div class="dropdown">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Actions
                </button>
                <ul class="dropdown-menu">

                    <li>
                        <a class="dropdown-item"  onclick="deleteAllBinsDistribution(${item.line})">🗑 Delete</a>
                    </li>
                    <li>
                        <a class="dropdown-item" onclick="openmodal(${item.lineid}, '${item.partnubmer}', ${item.requestquantity})"> 📦 Bins</a>
                    </li>
                </ul>
            </div>`;
        }

        function addqtybinPickProcess()
        {
              const binidin = $('#binselid').val();

              const partnumber = $('#partnoid').val();

              

              const typereserveid = $('#typereserveid').val();

              const token = $('input[name="__RequestVerificationToken"]').val();

              var lineid = $('#lineid').val();

              if (partnumber == '' || partnumber == null)
              {
                   errorAction("Part Number is required");
                   return;
              }


              if (binidin == 0 || binidin == null)
              {
                   errorAction("Bin reserve is required");
                   return;
              }


                if (typereserveid == 0 || typereserveid == null)
              {
                   errorAction("Reserve type inventory  is required");
                   return;
              }


              const valsel = $('#companyclient').val();


              if (valsel == 0 || valsel == null)
              {
                   errorAction("Company client is required");
                   return;
              }


              var companyclient = $('#companyclient option:selected').val();


                const table = $('#tableuserbinitems').DataTable();

                const res = [];

                table.$('.qty-input', { page: 'all' }).each(function () {
                const binidout = Number($(this).data('binid'));
                const statusid = $(this).data('statusname');
                const inventorytypeid = $(this).data('invtype');
                const rackid = $(this).data('rackid');
                const qty   = Number($(this).val() || 0);

                if (qty > 0)
                    {
                    res.push({lineid, binidout, qty, typereserveid, binidin, statusid, inventorytypeid , rackid, partnumber});
                    }
                });

                const payload = {
                    companyclient: companyclient,
                    lineid: lineid,
                    itemslist: res
                };

                showSpinner();

                $.ajax({
                      url: '@Url.Action("UpdateQuantityPickProcess", "PickProcess")',
                      type: 'POST',
                      contentType: 'application/json; charset=utf-8',
                      data: JSON.stringify(payload),
                      headers: { 'RequestVerificationToken': token } // Anti-forgery en header
                    })
                    .done(function (data)
                    {
                       

                       if (data.status == "OK")
                       {
                           loadDataDetail(data.lista);

                       }
                       else
                       {
                            errorAction(data.status);
                       }
                    })
                    .fail(function (xhr) {
                        console.error('getClientBins FAIL:', xhr.status, xhr.responseText);
                        alert('Could not load bins.');
                    }).always(function(){

                        hideSpinner();

                         closemodal();
                    });
        }


        function loadDataDetail(data)
        {

             if (data != null) {

                var JsonArrayBines = [];

                for (var i = 0; i < data.length; i++) {

                    var f = data[i];

                    JsonArrayBines.push({
                        action:'<a href="#" onclick="openmodal(' + f.lindId + ',\'' + f.itemNumber + '\',' + f.requestQuantity +',\'' + f.frm3plLocatorStatus + '\')"><i class="fa-solid fa-boxes-stacked"></i></a> | <a href="#" onclick="deleteAllBinsDistribution(' + f.lindId + ')"><i class="fa-solid fa-eraser"></i></a>',
                        id:f.id,
                        headid:f.idPickProcessHdr,
                        lineid:f.lindId,
                        partnubmer:f.itemNumber,
                        requestquantity:f.requestQuantity,
                        quantityprocess:f.quantityProcess,
                        locator:f.frm3plLocatorStatus,
                        picklpn:f.pickLPN,
                        qtyonhand:f.qtyOnHand,
                        partdesc:f.itemDescription,
                        dateinserted:f.dateTimeInserted
                    });
                }

                $('#tableuser').DataTable({
                    data: JsonArrayBines,
                    destroy: true,
                    scrollX: true,
                    processing: true,
                    deferRender: true,
                    stateSave: true,
                    autoWidth: false,
                    responsive: false,
                    pageLength: 10,
                    "bPaginate": false,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "searching": false,
                    columns: [
                            { "data": "action" },
                        { "data": "id" },
                        { "data": "headid" },
                        { "data": "lineid" },
                        { "data": "partnubmer" },
                        { "data": "requestquantity" },
                        { "data": "quantityprocess" },
                        { "data": "locator" },
                        { "data": "picklpn" },
                        { "data": "qtyonhand" },
                        { "data": "partdesc" },
                        { "data": "dateinserted" },
                    ],
                    createdRow: function (row, data, dataIndex) {
                        // índices según tus columnas: requestquantity=4, quantityprocess=5
                        const $qtyProcessCell = $('td', row).eq(6);

                        // limpiar clases previas
                        $qtyProcessCell.removeClass('text-success text-danger text-primary fw-bold');

                        // tomar valores numéricos seguros
                        const req  = Number(data.requestquantity ?? 0);
                        const proc = Number(data.quantityprocess ?? 0);

                        if (Number.isNaN(req) || Number.isNaN(proc)) return; // nada que pintar si vienen malos

                        if (proc === 0) {
                        // rojo
                        $qtyProcessCell.addClass('text-danger fw-bold');
                        } else if (proc === req) {
                        // verde
                        $qtyProcessCell.addClass('text-success fw-bold');
                        } else if (proc > 0 && proc < req) {
                        // azul
                        $qtyProcessCell.addClass('text-primary fw-bold');
                        }
                    }

                });
            }



        }

        function hideheader()
        {

           const icono = document.getElementById("ocultarHdr");
            const $div1 = $('#header1');
            const $div2 = $('#header2');
            const $div3 = $('#header3');

            if (icono.classList.contains("fa-eye")) {
                $('#ocultarHdr').removeClass("fa-eye");
                $('#ocultarHdr').addClass("fa-eye-slash");
                $div1.animate({ opacity: 0, height: "toggle" }, 400);
                $div2.animate({ opacity: 0, height: "toggle" }, 400);
                $div3.animate({ opacity: 0, height: "toggle" }, 400);

            } else {
                $('#ocultarHdr').addClass("fa-eye");
                $('#ocultarHdr').removeClass("fa-eye-slash");
                $div1.animate({ opacity: 1, height: "toggle" }, 400);
                $div2.animate({ opacity: 1, height: "toggle" }, 400);
                $div3.animate({ opacity: 1, height: "toggle" }, 400);
            }

        }


        function hidedetail()
        {

           const icono = document.getElementById("ocultarDetail");
           const $div1 = $('#detail1');
           const $div2 = $('#detail2');

           if (icono.classList.contains("fa-eye")) {
                $('#ocultarDetail').removeClass("fa-eye");
                $('#ocultarDetail').addClass("fa-eye-slash");
                 $div1.animate({ opacity: 0, height: "toggle" }, 400);
                 $div2.animate({ opacity: 0, height: "toggle" }, 400);
            } else {
                $('#ocultarDetail').addClass("fa-eye");
                $('#ocultarDetail').removeClass("fa-eye-slash");
                 $div1.animate({ opacity: 1, height: "toggle" }, 400);
                 $div2.animate({ opacity: 1, height: "toggle" }, 400);
            }

        }


         function hidecalls()
        {

           const icono = document.getElementById("ocultarCalls");

           const $div1 = $('#divbody1');
           const $div2 = $('#divbody2');

            if (icono.classList.contains("fa-eye")) {
                $('#ocultarCalls').removeClass("fa-eye");
                $('#ocultarCalls').addClass("fa-eye-slash");
                $div1.animate({ opacity: 0, height: "toggle" }, 400);
                $div2.animate({ opacity: 0, height: "toggle" }, 400);
            } else {
                $('#ocultarCalls').addClass("fa-eye");
                $('#ocultarCalls').removeClass("fa-eye-slash");
                $div1.animate({ opacity: 1, height: "toggle" }, 400);
                $div2.animate({ opacity: 1, height: "toggle" }, 400);
            }

        }

            function hideservtrack()
        {

           const icono = document.getElementById("ocultarServtrack");
             const $div = $('#divservtrack1');

            if (icono.classList.contains("fa-eye")) {
                $('#ocultarServtrack').removeClass("fa-eye");
                $('#ocultarServtrack').addClass("fa-eye-slash");
               $div.animate({ opacity: 0, height: "toggle" }, 400);

            } else {
                $('#ocultarServtrack').addClass("fa-eye");
                $('#ocultarServtrack').removeClass("fa-eye-slash");

                $div.animate({ opacity: 1, height: "toggle" }, 400);
            }

        }


          function hidewms()
        {

           const icono = document.getElementById("ocultarWMS");
             const $div = $('#divwms1');

            if (icono.classList.contains("fa-eye")) {
                $('#ocultarWMS').removeClass("fa-eye");
                $('#ocultarWMS').addClass("fa-eye-slash");
               $div.animate({ opacity: 0, height: "toggle" }, 400);

            } else {
                $('#ocultarWMS').addClass("fa-eye");
                $('#ocultarWMS').removeClass("fa-eye-slash");

                $div.animate({ opacity: 1, height: "toggle" }, 400);
            }

        }
        async function processPick()
        {

             const ok = await confirmAction("¿Do you want to proccess this delivery ?");

            if (!ok) return;


            var DeliveryId = $('#PickProcessHdr_DeliveryId').val();

            if (DeliveryId == null || DeliveryId == '')
            {
                 errorAction("Pick Process Number is required");
                  return;
            }

           

            let table = $('#tableuser').DataTable();

            var continueP = true;

            table.rows({ search: 'applied' }).every(function () {
                let data = this.data();  // obtienes el objeto por fila

                let val1 = Number(data.requestquantity);
                let val2 = Number(data.quantityprocess);


                if (val1 !== val2)
                {
                    continueP = false
                }
            });

            if (!continueP)
            {
              errorAction("You must receive all items");
                  return;
            }

              const locationid = document.getElementById("locationid").value;

            if (locationid === "") {
                errorAction("Location is required");
                return;
            }


            const companyclient = document.getElementById("companyclient").value;

            if (companyclient === "") {
                errorAction("Company client is required");
                return;
            }

            const conceptid = document.getElementById("conceptid").value;

            if (conceptid === "") {
                        errorAction("Concept ID client is required");
                        return;
            }

            const transactionid = document.getElementById("transactionid").value;

            if (transactionid === "") {
                        errorAction("Transaction ID client is required");
                        return;
            }

             const division = document.getElementById("divisionid").value;

            if (division === "") {
                        errorAction("Division ID is required");
                        return;
            }
            
            var lpnid = $('#lpnid').val();pickprocessnumber
             if (lpnid === "")
             {
                        errorAction("LPN is required");
                        return;
            }

            var documentReference = DeliveryId;

            var token = $('input[name="__RequestVerificationToken"]').val();

            var observations = $('#observations').val();

            alert('todo validado');

            showSpinner();

            $.ajax({url:"@Url.Action("processPick", "PickProcess")",
                data:{DeliveryId:DeliveryId,
                    companyclient: companyclient,
                    conceptid: conceptid,
                    transactionid : transactionid,
                    division : division,
                    lpnid : lpnid,
                    observations:observations,
                    locationid:locationid
                    }, type:"post", headers: { 'RequestVerificationToken': token }})
            .done(function(data){

                   if (data.status == "OK")
                       {
                           loadDataDetail(data.lista);

                       }
                       else
                       {
                            errorAction(data.status);
                       }
            
            })
            .fail(function(jqXHR, textStatus, errorThrown){
            
                        if (jqXHR.status === 500) {
                    errorAction('Error interno del servidor. Intenta más tarde.');
                } else {
                    errorAction('Error inesperado: ' + jqXHR.status);
                }
            })
            .always(function()
            {
                hideSpinner();
            });
        }


        async function deleteAllBinsDistribution(lineid)
        {

              const ok = await confirmAction("¿Do you want to delete all bins distribution for this line " + lineid + "?");

            if (!ok) return;

            showSpinner();

            var token = $('input[name="__RequestVerificationToken"]').val();

            showSpinner();


            $.ajax({url:"@Url.Action("deleteAllBinsDistribution", "PickProcess")", data:{__RequestVerificationToken: token,lineid:lineid}, type:"post"})
            .done(function(data)
            {
                if(data.status == "OK")
                {
                    successAction("Distribution deleted");

                    loadDataDetail(data.lista);
                }
                else
                {
                     errorAction(data.status);
                }
            })
            .fail(function(){})
            .always(function()
            {
                hideSpinner();
            });

        }
    </script>
}