@model IEnumerable<DUNES.Shared.DTOs.WMS.WMSCompanyClientInventoryTypeReadDTO>

@{
    ViewData["Title"] = "Index";
}

@{
    var rowActions = ViewBag.RowActions as List<CrudActionItemModel> ?? new List<CrudActionItemModel>();
    var toolbarActions = ViewBag.ToolbarActions as List<CrudActionItemModel> ?? new List<CrudActionItemModel>();
}
@if (toolbarActions.Any())
{
    <div class="row g-2 mb-3">
        @foreach (var action in toolbarActions.OrderBy(x => x.ButtonOrder).Take(6))
        {
            <div class="col-12 col-sm-6 col-md-2">
                <a asp-action="@action.MvcActionName"
                   class="@($"{action.ButtonCss} {action.TextCss} w-100 d-inline-flex align-items-center justify-content-center")"
                   title="@action.ButtonText">
                    @if (!string.IsNullOrWhiteSpace(action.IconCss))
                    {
                        <i class="@action.IconCss"></i>
                    }
                    @if (!string.IsNullOrWhiteSpace(action.ButtonText))
                    {
                        <span class="ms-1">@action.ButtonText</span>
                    }
                </a>
            </div>
        }
    </div>
}


<div class="row">
    <table id="tablelist" class="table table-bordered table-striped table-hover table-sm align-middle w-100" style="white-space: nowrap; font-size:medium">

        <thead>
            <tr>
                <th>Actions</th>
               @*  <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th> *@
                <th style="text-align:left">
                    @Html.DisplayNameFor(model => model.InventoryTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InventoryTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <partial name="_CrudActions"
                                 model="@(new DUNES.UI.Models.CrudActionsModel { RouteId = item.Id.ToString(), Controller = "CompanyClientInventoryTypesUI", Actions = rowActions })" />
                    </td>
                  @*   <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td> *@
                    <td style="text-align:left">
                        @Html.DisplayFor(modelItem => item.InventoryTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {




    <script>


        $(document).ready(function(){

                     $('#tablelist').DataTable
                   ({

                     scrollX: true,

                   });

        })


    </script>
}