@using DUNES.Shared.DTOs.Auth
@model List<MenuItemDto>

@if (Model != null && Model.Any())
{
    <nav aria-label="breadcrumb" class="mt-2 mb-3">
        <div class="breadcrumb-wrap">
            <ol class="breadcrumb dunes-breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Index"
                       class="text-decoration-none navegacion">
                        Home
                    </a>
                </li>
                @for (int i = 0; i < Model.Count; i++)
                {
                    var item = Model[i];
                    var isLast = (i == Model.Count - 1);

                    if (isLast)
                    {
                        <li class="breadcrumb-item active navegacion" aria-current="page">
                            @item.Title
                        </li>
                    }
                    else
                    {
                        
                        var item2 = Model[i + 1];

                        <li class="breadcrumb-item">
                            @if (!string.IsNullOrEmpty(item.Controller) && !string.IsNullOrEmpty(item.Action))
                            {


                                <a asp-controller="@item.Controller" asp-action="@item.Action"
                                   asp-route-level1="@item2.previousmenu"
                                   class="text-decoration-none navegacion">
                                    @item.Title
                                </a>
                            }
                           
                        </li>
                    }
                }
            </ol>
        </div>
    </nav>
}
