@model DUNES.UI.Models.CrudActionsModel

<style>
    .btn-outline-danger:hover i,
    .btn-outline-primary:hover i,
    .btn-outline-warning:hover i,
    .btn-outline-secondary:hover i,
    .btn-primary:hover i {
        color: #fff !important;
    }
</style>

@{
    var controller = string.IsNullOrWhiteSpace(Model.Controller) ? null : Model.Controller;
}

@if (Model.Actions != null && Model.Actions.Any())
{
    foreach (var action in Model.Actions.OrderBy(x => x.ButtonOrder))
    {
        <a asp-controller="@controller"
           asp-action="@action.MvcActionName"
           asp-route-id="@Model.RouteId"
           class="@($"{action.TextCss} {action.ButtonCss}")"
           title="@action.ButtonText"
           data-requires-confirmation="@(action.RequiresConfirmation ? "true" : "false")"
           data-confirmation-message="@action.ConfirmationMessage">
            <i class="@action.IconCss"></i>
        </a>
    }
}