@model IEnumerable<DUNES.Shared.DTOs.WMS.WMSClientCompaniesReadDTO>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a type="button" class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<table id="tablelist" class="table table-bordered table-striped table-hover table-sm align-middle w-100" style="white-space: nowrap; font-size:medium">

    <thead>
        <tr>
            <th>Actions</th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idcountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryNavegation.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idstate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateNavegation.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idcity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityNavegation.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
          
        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="#" onclick="openmodal(@item.Id)"><i class="fas fa-pencil-alt"></i></a> |
                        <a href="#" onclick="editcompany(@item.Id)"><i class="fas fa-trash-alt"></i></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idcountry)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryNavegation.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idstate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StateNavegation.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idcity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityNavegation.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zipcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Website)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                   
                </tr>
            }
        }
    </tbody>
</table>
@section Scripts {




    <script>


        $(document).ready(function(){

            // $('#tablelist').DataTable({

            //     "scrollX":true
            //  });

              $('#tablelist').DataTable
                   ({
                     processing: true,
                     deferRender: true,
                     stateSave: true,
                     autoWidth: false,
                     scrollX: true, // ✅ Habilita scroll horizontal
                     responsive: false, // ✅ Evita que se escondan columnas
                     pageLength: 10,

                     order: [[9, 'desc']],

                     columnDefs: [
                       { targets: [6], className: 'text-end' },
                       { targets: 0, orderable: false, searchable: false, className: 'text-center' }, // Desactiva ordenamiento en Actions
                       { targets: '_all', className: 'align-middle' }
                     ],

                     dom:
                       "<'row mb-2'<'col-md-6'l><'col-md-6 text-md-end'f>>" +
                       "<'row'<'col-12'tr>>" +
                       "<'row mt-2'<'col-md-5'i><'col-md-7'p>>",

                     language: {
                       search: "",
                       searchPlaceholder: "Search...",
                       lengthMenu: "_MENU_ entries per page",
                       info: "Showing _START_ to _END_ of _TOTAL_ entries",
                       infoEmpty: "Showing 0 to 0 of 0 entries",
                       infoFiltered: "(filtered from _MAX_ total entries)",
                       zeroRecords: "No data available in table",
                       paginate: { first: "«", previous: "‹", next: "›", last: "»" }
                     }
                   });

        })


    </script>
}